name: Old Node Tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  node:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [16.6.0, 16.x, 17.0.0, 17.x]
        # windows-11-arm is not included here because Node only has Windows on Arm binaries for Node >= 19
        os: [macos-14, macos-15, macos-15-intel, macos-26, ubuntu-22.04, ubuntu-24.04, windows-2022, windows-2025, ubuntu-22.04-arm, ubuntu-24.04-arm, ubuntu-slim, windows-2025-vs2026]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Install packages
        run: npm ci

      - name: Install required system packages (Ubuntu Slim only)
        if: ${{ matrix.os == 'ubuntu-slim' }}
        run: sudo apt-get update && sudo apt-get install libaio1t64 libnuma-dev

      - name: Run tests
        run: npx ts-node tests/old-node.ts

      - name: Move MySQLMSN directory for GitHub Actions upload
        if: ${{ failure() }}
        env:
          MOVE_MYSQLMSN_TO: ${{ runner.os == 'Windows' && 'C:\\Users\\RUNNER~1\\mysqlmsn' || '/tmp/mysqlmsn' }}
        run: npx ts-node tests/ci/DirMoveGitHubActions.ts

      - name: Upload mysqlmsn directory
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4.3.5
        with:
          name: node-${{ matrix.node-version }}
          path: ${{ runner.os == 'Windows' && 'C:\\Users\\RUNNER~1\\mysqlmsn' || '/tmp/mysqlmsn' }}
          compression-level: 9